<ng-container *ngIf="vm$ | async as vm">
  <ng-container [ngSwitch]="vm.state">
    <ng-container *ngSwitchCase="state.Loading">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let i of [0, 1, 2, 3, 4]">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-container *ngSwitchCase="state.Ongoing">
      <h3>Filter</h3>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div
              class="tag"
              [ngClass]="{ active: vm.data | areAllTagsEnabled }"
              (click)="enableAllTags()"
            >
              All categories
            </div>
            <div
              [ngClass]="{ 'active-border': vm.data | areAllTagsEnabled }"
              class="border"
            ></div>
          </ion-col>
          <ion-col *ngFor="let data of vm.data">
            <div
              class="tag"
              [ngClass]="{ active: data.checked }"
              (click)="tagToggle(data.tag, data.checked)"
            >
              {{ data.tag }}
            </div>
            <div
              [ngClass]="{ 'active-border': data.checked }"
              class="border"
            ></div>
          </ion-col>
          <ion-col offset="1" class="left-border">
            <div class="tag active" (click)="disableAllTags()">Reset</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
</ng-container>
