<ng-container *ngIf="vm$ | async as vm">
  <ng-container [ngSwitch]="vm.state">
    <ng-container *ngSwitchCase="state.Loading"> loading </ng-container>
    <ng-container *ngSwitchCase="state.Complete">
      <ion-grid>
        <ion-row *ngFor="let group of vm.data">
          <ng-container [ngSwitch]="group.length">
            <ng-container *ngSwitchCase="4">
              <ion-col size="12">
                <app-news-card
                  [layout]="layout.Left"
                  [data]="group[0]"
                ></app-news-card>
              </ion-col>
              <ion-col size-lg="6" size="12">
                <ion-row>
                  <ion-col size-lg="6" size="12">
                    <app-news-card
                      [layout]="layout.Right"
                      [data]="group[1]"
                    ></app-news-card>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-lg="6" size="12">
                    <app-news-card
                      [layout]="layout.Right"
                      [data]="group[2]"
                    ></app-news-card>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size-lg="6" size="12">
                <app-news-card [data]="group[3]"></app-news-card>
              </ion-col>
            </ng-container>

            <ng-container *ngSwitchCase="3">
              <ion-col size="12">
                <app-news-card
                  [layout]="layout.Left"
                  [data]="group[0]"
                ></app-news-card>
              </ion-col>
              <ion-col size-lg="6" size="12">
                <app-news-card
                  [layout]="layout.Right"
                  [data]="group[1]"
                ></app-news-card>
              </ion-col>
              <ion-col size-lg="6" size="12">
                <app-news-card
                  [layout]="layout.Right"
                  [data]="group[2]"
                ></app-news-card>
              </ion-col>
            </ng-container>

            <ng-container *ngSwitchDefault>
              <ion-col size="12" *ngFor="let card of group">
                <app-news-card [data]="card"></app-news-card>
              </ion-col>
            </ng-container>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
</ng-container>
